* {
    margin: 0;
    padding: 0;
}

body.home
{
    font-family:  sans-serif;
    background: url('decor/homepage.png') no-repeat center center fixed;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
}
    


#nav-bar {
    position: sticky;
    top: 0;
    z-index: 10;
}

.navbar {
    background-image: linear-gradient(to right, #5FA5AC, #29272E);  /* alternate --> #ed4264, #ffedbc */
    padding: 0 !important;
}

.navbar-brand img {
    height: 40px;
    padding-left: 20px;
    
}

.navbar-nav li {
    padding: 0 10px;

}

.navbar-nav li a {
    color: #fff ;
    font-weight: 600;  
}

.navbar-nav a:hover {
    color: #a0f9f8;
    transition: 1s;
}

.navbar-toggler-icon {
    background-color : whitesmoke;
}



/*----------------- BIO -----------------*/